.container {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: baseline;
}
.checkbox-layout {
  position: relative;
  font-weight: 600;
  margin: 0;
  user-select: none;
  cursor: pointer;
}
.container__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submit-btn {
  background-color: #0460a9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 20px 0;
  font-size: 16px;
  cursor: pointer;
}
