<form>
    <next-three-state-checkbox
        [disabled]="disabled"
        [required]="required"
        [tabIndex]="tabIndex"
        [id]="id"
        [(ngModel)]="isChecked"
        name='name'
    ></next-three-state-checkbox>
</form>

<form>
    <next-three-state-checkbox
        [disabled]="!disabled"
        [required]="required"
        [tabIndex]="tabIndex"
        [id]="id"
    ></next-three-state-checkbox>
</form>

<form>
    <next-three-state-checkbox
        [disabled]="disabled"
        [required]="required"
        [tabIndex]="tabIndex"
        [id]="id"
    ></next-three-state-checkbox>
</form>

<form>
    <next-three-state-checkbox
        [disabled]="disabled"
        [required]="required"
        [tabIndex]="tabIndex"
        [id]="id"
    ></next-three-state-checkbox>
</form>